
/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Abril Fatface", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --primary-color: #426b6d; /* teal */
    --secondary-color: #ead9c1; /* light brown */
    --highlight-color: #9f5a3b; /* red brown */
    --highlight-color-dark: #3b464c; /* dark teal */
}

/* General Styling */
h1 {
    font-family: var(--primary-font);
    font-size: 3.2rem;
}

h2 {
    font-family: var(--secondary-font);
    font-size: 2rem; /* Corrected font size */
}

h3 {
    font-family: var(--primary-font);
    font-size: 2rem;
}

h4 {
    font-family: var(--secondary-font); /* Corrected font-family */
    font-size: 1.5rem;
}

h5 {
    font-family: var(--primary-font);
    font-size: 1rem;
}

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.half-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Hero Section */
#hero {
    height: 450px;
    width: 100%;
    background: url(assets/images/AdobeStock_553255997-Resized.jpg) no-repeat center center / cover;
    position: relative;
    background-color: var(--primary-color);
    color: white;
    display: flex;                /* Flexbox for centering */
    justify-content: center;      /* Center horizontally */
    align-items: center;          /* Center vertically */
    text-align: left;           /* Center text alignment */
}

.padding-text {
    padding: 20px;                /* Responsive padding */
}

    h1 {
        font-size: 2.5rem; /* Smaller font size for smaller screens */
    }

    h2 {
        font-size: 1.5rem;
    }
}

/* About Me Section */
#about-me {
    background-color: var(--secondary-color);
    color: var(--highlight-color-dark);
}

.circle-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centers the circle container horizontally */
}

.circle-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*Let's Connect Section*/

#lets-connect {
    background-color: var(--highlight-color-dark);
    color: white;
}

/* Portfolio Section */
#portfolio-section {
    display: flex;
    justify-content: center; /* Centers the images horizontally */
    flex-wrap: wrap; /* Ensures images wrap on smaller screens */
    gap: 1rem; /* Adds spacing between images */
    background-color: var(--primary-color);
}

#portfolio-section .card {
        color: white;
}

#portfolio-section img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/* Gallery section */
#gallery {
    background-color: var(--secondary-color);
    min-height: 300px;
}

#photos img {
    min-height: 100px;
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}

