
/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Abril Fatface", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --primary-color: #501a5c; /* dark purple */
    --secondary-color: #f7e6cf; /* apricot */
    --highlight-color: #ec5f51; /* red orange */
    --highlight-color-pink: #de6ca1; /* pink */
}

/* General Styling */

body {
    margin: 0;
    padding-top: 40px; /* To adjust for fixed navbar*/
    font-family: var(--secondary-font);
}

.primary-background {
    background-color: var(--primary-color);
}

.secondary-background {
    background-color:var(--secondary-color)
}

.white-text {
    color: white;
}

.red-orange-text {
    color: var(--highlight-color);
}

/* Headings*/

h1 {
    font-family: var(--primary-font);
    font-size: 60px;
}

h2 {
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 2rem; 
}

h3 {
    font-family: var(--primary-font);
    font-size: 2rem;
}

h4 {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
}

h5 {
    font-family: var(--primary-font);
    font-size: 1rem;
}

/* Buttons */

.custom-button-filled {
    border: 2px solid white;
    background-color: white;
    color: var(--highlight-color)
}

.custom-button-filled-pink {
    border: 2px solid var(--highlight-color-pink);
    background-color: var(--highlight-color-pink);
    color: white;
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

.custom-button-outline {
    border: 3px solid white;
    padding: 7px 25px;
    color: white
}

.custom-button-outline:hover {
    background-color: var(--highlight-color);
    color: white
}

/*Section Styling*/

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.half-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.padding-sides {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-bottom {
    padding-bottom: 20px;
}
.circle-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centers the circle container horizontally */
}

.circle-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.border {
    border: none;
}

/* Hero Section */
#hero {
    min-height: 600px;
    width: 100%;
    background: url(../images/Graphic-front.jpg) no-repeat center / cover;
    background-position: calc(100% + 140px) center; /* Moves image 50px to the right */
    position: relative;
    color: var(--primary-color);
    display: flex;                /* Flexbox for centering */
    justify-content: flex-start;  /* Align content to the left */
    align-items: center;          /* Center vertically */
}

#hero h2 {
    color:var(--highlight-color-dark)
}

.padding-text {
    padding-left: 30px; 
    padding-top: 50px;             /* Responsive padding */
}

/* About Me Section */

#about-me {
    background-color: white;
    color: black;
}

#about-me h3, h4 {
    color: var(--highlight-color);
}

#about-me h4 {
    padding-top: 10px;
}

/*Let's Connect Section with button text*/

#lets-connect-text p {
    color: white;
}

/* Portfolio Section */
#portfolio-section {
    display: flex;
    justify-content: center; /* Centers the images horizontally */
    flex-wrap: wrap; /* Ensures images wrap on smaller screens */
    gap: 1rem; /* Adds spacing between images */
}

#portfolio-section .card {
        color: var(--primary-color)
}

#portfolio-section img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
}

.card {
    border: none;
}

.border {
    background-color: white;
    color: var(--highlight-color);
}

/* Let's connect section (no text)*/

#lets-connect, #carousel {
    margin: 0;               /* Remove any default margin */
    padding: 0;              /* Remove padding from the section */
    width: 100vw;            /* Ensure the section spans the full width of the viewport */
}

#lets-connect .container, #carousel .container-fluid {
    padding: 0;              /* Remove padding inside the container */
}

#lets-connect {
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: white;
    color: var(--highlight-color);
}

/* Gallery section */
#gallery {
    background-color: var(--secondary-color);
    min-height: 300px;
}

#photos img {
    min-height: 100px;
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}

/*Carousel section*/

.carousel {
    background-color: white
  }

  #carousel {
    margin: 0;
}

/*Project pages*/

.project-info {
    color: white;
}

/* Contact form page*/
#contact {
    color:var(--primary-color);
    padding-bottom: 20px;
    background-color:var(--secondary-color);
}

/*Success page*/
#sent-icon {
    height: 50px;
}

#success a {
    text-decoration: none;
    color:var(--primary-color) 
}

#success {
    min-height: 100vh;          /* Stretch the section to the full viewport height */
    display: flex;              /* Activate Flexbox */
    color:var(--primary-color);
    padding-top: 50px
}

/*Footer*/

footer {
    margin-top: 0;
    background-color: var(--primary-color);
    bottom: 0;  
    position: relative;
}

footer a {
    text-decoration: none;
    color: white;
}

#social-links {
    background-color:var(--primary-color);
    font-size: 20px;
    display: flex;  /* Activates Flexbox */              
    padding: 10px 50px 20px 50px;
    justify-content: center;
    gap: 20px; /* Add spacing between icons */
}

#social-links a {
    color: white;
}

